@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0b0025;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.25s ease-out;
}

/* index.css */

/* Fix leaflet images path problem (if needed) */
.leaflet-container {
    height: 100%;
    width: 100%;
}